<!DOCTYPE html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User Flow</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- plugins:css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<!-- endinject -->
    <!-- Plugin css for this page -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/flag-icon-css/css/flag-icon.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.carousel.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-stand-blog.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-cartesian.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pie.min.js"></script>
	<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-pyramid-funnel.min.js"></script>
	<script src="{{url_for('static', filename='js/monitor.js')}}" type="text/javascript"></script>
	</head>
	<body>
    {% extends "template.html" %}
	{% block content %}
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> index </h3>
                </nav>
            </div>
			<div class="page-header">
              <h3 class="page-title"> Dashboard </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
              </nav>
            </div>
			<!-- info submit row -->
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">
							<div id="show_time0" style="">
							<script>
							 setInterval("show_time0.innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());",1000);  
							</script>
							</h3>
							</div>
                        </div>
						</div>
					</div>
                </div>
              </div>
			  
			  <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                     <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0">Page Select</h3>
                        </div>
                      </div>
						<select name="page" id="pageselect">
							<option value="" disabled selected>Select the page</option>
							<option value=" Owner：PrjManagerForm">Project</option>
							<option value=" Owner：TrainerForm">Train</option>
							<option value=" Owner：VerifierForm">Verification</option>
							<option value=" Owner：PredictorForm">Predictor</option>
						</select>
						<p class="text-success ml-2 mb-0 font-weight-medium"><button id='chart_btn' class="button-two" type="text"><span>submit</span></button></p>
						<script>chart_btn()</script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="page_count">-</h3>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="text-success ml-2 mb-0 font-weight-medium" id="people_count_rate_plus"></h3>
						  <h3 class="text-danger ml-2 mb-0 font-weight-medium" id="people_count_rate_minus"></h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Total Number</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                          <h3 class="mb-0" id="this_page_count">-</h3>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-muted font-weight-normal">Page Number</h6>
                  </div>
                </div>
              </div>
            </div>
			<!-- page chart -->
            <div class="row">
               <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Prev Page Bar Chart</h2>
                    <div class="row">
					<div class="container" id="container_chart_prev" style="height=660px"></div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Next Page Bar Chart</h2>
                    <div class="row">
					<div class="container" id="container_chart_next" style="height=660px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			<!-- pie chart -->
            <div class="row">
              <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Complete Processing Funnel Chart</h2>
                    <div class="row">
					<div class="container" id="container_chart_funnel" style="height=660px"></div>
                    </div>
                  </div>
                </div>
              </div>
			  <div class="col-sm-6 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h2>Components Pie Chart</h2>
                    <div class="row">
					<div class="container" id="container_pie_components" style="height=660px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <!-- content-wrapper ends -->
			
		<!-- AJAX setting -->
		<script type=text/javascript>
			$SCRIPT_ROOT = {{request.script_root|tojson|safe}};
		</script>	
		<script language="javascript" type="text/javascript">
		setInterval(function(){
			$.ajax({
				type: "POST",
				url: $SCRIPT_ROOT + "/page_count",
				success: (data) => {
					$("#page_count").text(data.db_size);
				},
				contentType: false,
				processData: false,
				dataType: "json"
				});
		}, 1000);
		</script>
        {% endblock %}
		
    <!-- container-scroller -->
    <!-- plugins:js -->
	<script src="{{url_for('static',filename='assets/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
	<script src="{{url_for('static',filename='assets/vendors/chart.js/Chart.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/progressbar.js/progressbar.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/owl-carousel-2/owl.carousel.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->	
	<script src="{{url_for('static',filename='assets/js/off-canvas.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/hoverable-collapse.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/misc.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/settings.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/todolist.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
	<script src="{{url_for('static',filename='assets/js/dashboard.js')}}"></script>
    <!-- End custom js for this page -->
	
  </body>
</html>