<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crowd Control</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- plugins:css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/flag-icon-css/css/flag-icon.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.carousel.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
  </head>
  <body>
    {% extends "template.html" %}
	{% block content %}
    <div class="content-wrapper">
		<div class="page-header">
		    <h3 class="page-title"> index </h3>
		    </nav>
		</div>
		<div class="page-header">
		    <h2 class="page-title"> Monitor Indoor </h2>
		    <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			</ol>
		    </nav>
		</div>
		
		<div class="row">
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
					<h2 class="card-title">Origin Vedio Stream</h2>
					<p class="card-description"> The original live stream </p>
					<div class="card1"> 
						<p><img id ="2XSHZ" src="https://s27.aconvert.com/convert/p3r68-cdx67/8f3br-uwboj.gif"/></p>
						<div class="info">
							<p>Raw</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
					<h2 class="card-title">Model Inference</h2>
					<p class="card-description"> The result of slowfast inference </p>
					<div class="card1">
						<p><img id ="2XSHE" src="https://s19.aconvert.com/convert/p3r68-cdx67/pvmm4-r5tpb.gif"></p>
						<div class="info">
							<p>SlowFast</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>


    {% endblock %}>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- container-scroller -->
    <!-- plugins:js -->
	<script src="{{url_for('static',filename='assets/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
	<script src="{{url_for('static',filename='assets/vendors/chart.js/Chart.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/progressbar.js/progressbar.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/owl-carousel-2/owl.carousel.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->	
	<script src="{{url_for('static',filename='assets/js/off-canvas.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/hoverable-collapse.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/misc.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/settings.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/todolist.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
	<script src="{{url_for('static',filename='assets/js/dashboard.js')}}"></script>
    <!-- endinject -->
  </body>
</html>