<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crowd Control</title>
	<link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
    <!-- plugins:css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/mdi/css/materialdesignicons.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/css/vendor.bundle.base.css') }}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/jvectormap/jquery-jvectormap.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/flag-icon-css/css/flag-icon.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.carousel.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/vendors/owl-carousel-2/owl.theme.default.min.css') }}" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <style>
	.box {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(10, minmax(100px, 1fr));
	}
	.box img {
		border-radius: 2px;
	}
	label img {
		height: 120px;
		width: 120px;
		transition-duration: 0.2s;
		transform-origin: 50% 50%;
	}
  </style>
  
<style>
table, th, td {
 border: 1px solid black;
 border-collapse: collapse;
}
</style>
  <body>
    {% extends "template.html" %}
	{% block content %}
		<div class="content-wrapper">
			<div class="page-header">
				<h3 class="page-title"> index </h3>
				</nav>
			</div>
			
			<div class="page-header">
				<h3 class="page-title"> Monitor Entrance </h3>
				<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				</ol>
				</nav>
			</div>
			
			<div class="row">
				<div class="col-lg-12 grid-margin">
					<div class="face-group">
					<h2 class="card-title"> Real-time Face </h2>
					<center>
						<table class="face">
							<tr>
								<td>
									<p><img src="http://192.168.200.72:5001/video_feed" alt="No Video"></p>
								</td>
								<td>
									<p><img src="{{url_for('static', filename='img/face_ex.jpg')}}" alt="No Image"></p>
								</td>
							</tr>
						</table>
					</center>
					</div>
					
					<div class="face-group" >
						<h2 class="card-title"> Recent Customer List </h2>
						<!-- photos -->
						<div class="box">
						</div>
					</div>
				</div>					
			</div>
			
	<!-- AJAX setting -->
	<script type=text/javascript>
	  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	
	<script language="javascript" type="text/javascript">
	setInterval(function(){
		$.ajax({
			  type: "POST",
			  url: $SCRIPT_ROOT + "/monitor_facelist",
			  success: (data) => {
			    var index = 0;
				var id_list = JSON.parse(data.id_list);
				var photo_list = JSON.parse(data.photo_list);
				var htm = '';
				for(index = 0; index < id_list.length; index++) {
					   htm+='<label>';
					   htm+='<img src="data:image/png;base64,'+photo_list[index]+'" loading="lazy">';
					   htm+='<p>'+id_list[index]+'</p>';
					   htm+='</label>';
				}
				$('.box').html(htm);
			  },
			  contentType: false,
			  processData: false,
			  dataType: "json"
			});
	}, 1000);
	</script>
	
    {% endblock %}
    <!-- plugins:js -->
	<script src="{{url_for('static',filename='assets/vendors/js/vendor.bundle.base.js')}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
	<script src="{{url_for('static',filename='assets/vendors/chart.js/Chart.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/progressbar.js/progressbar.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/jvectormap/jquery-jvectormap.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/vendors/owl-carousel-2/owl.carousel.min.js')}}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->	
	<script src="{{url_for('static',filename='assets/js/off-canvas.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/hoverable-collapse.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/misc.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/settings.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/todolist.js')}}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
	<script src="{{url_for('static',filename='assets/js/dashboard.js')}}"></script>
    <!-- endinject -->
  </body>
</html>